


#u2341-4{
  width: 250px;
}

#u26906{
  width: 131px;
}

#u14946-4{
  height: 30px;
}

#u26504{
  height: 72px;
}

#u26507{
  height: 72px;
}

#u26504, #u26507, #u26513, #u26501, #u26510{
  margin-left: 49%;
}
